<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">NIVEL-ESTRUCTURA ORGANIZACIONAL</h1>
</div>
<div ng-controller="NivelOrganizacional as vm">

    <div class="bg-light lter b-b wrapper-md" style="heRight: 70px; padding: 10px;">
        <div class="hbox text-left b-b b-light text-sm">
            <button ng-if="!vm.objNivel && !vm.objeto ? true:false"
                    class="pull-rigth btn m-b-xs btn-sm btn-dark btn-addon "
                    type="reset" ng-click="vm.nuevonivel()">
                <i class="fa fa-plus"></i>
                <span>Nuevo</span>
            </button>

            <button ng-if="vm.objNivel" class="pull-rigth btn m-b-xs btn-sm btn-success btn-addon "
                    type="submit" ng-click="vm.insertarnivel(vm.objNivel)">
                <i class="fa fa-save block m-b-xs fa-2x "></i>
                <span>Guardar</span>
            </button>

            <button ng-if="vm.objNivel || vm.objeto ? true:false"
                    class="pull-rigth btn m-b-xs btn-sm btn-warning btn-addon"
                    type="submit" ng-click="vm.cancelar()">
                <i class="fa fa-ban block m-b-xs fa-2x "></i>
                <span>Cancelar</span>
            </button>

        </div>
    </div>

    <div ng-if="!vm.objNivel" class="panel panel-defaul panel-body">


        <div ng-if="vm.objeto">
            <div class="panel-body">
                <div class="row row-fluid ">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Tipo:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.objeto.idNivelEstructuraOrg}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Descripci&oacute;n:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.objeto.descripcion}}</label>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Largo:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.objeto.largoCodigo}}</label>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Icono:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.objeto.icono.idIcono}}</label>
                    </div>

                </div>

            </div>
        </div>


        <div ng-if="!vm.objeto">
            <table class="table table-condensed table-bordered table-striped" show-filter="true">
                <thead>
                <tr>
                    <th>NIVEL</th>
                    <th>DESCRIPCI&Oacute;N</th>
                    <th>LARGO DE C&oacute;DIGO</th>
                    <th>&Iacute;CONO</th>
                    <th>CREACI&Oacute;N USUARIO</th>
                    <th>CREACI&Oacute;N FECHA</th>
                    <th>MODIFICA USUARIO</th>
                    <th>MODIFICA FECHA</th>
                    <th>ACCI&Oacute;N</th>
                </tr>
                </thead>

                <tr ng-repeat="iterador in vm.lstNiveles">
                    <td class="text-center" data-title="NIVEL">{{iterador.idNivelEstructuraOrg}}</td>
                    <td class="text-center" data-title="DESCRIPCION">{{iterador.descripcion}}</td>
                    <td class="text-center" data-title="LARGOCODIGO">{{iterador.largoCodigo}}</td>
                    <td class="text-center" data-title="ICONO">{{iterador.icono.idIcono}}</td>
                    <td class="text-center" data-title="CREACIONUSUARIO">{{iterador.creacionUsuario.nombre}}</td>
                    <td class="text-center" data-title="CREACIONFECHA">{{iterador.creacionFecha}}</td>
                    <td class="text-center" data-title="MODIFICAUSUARIO">{{iterador.modificaUsuario}}</td>
                    <td class="text-center" data-title="MODIFICAFECHA">{{iterador.modificaFecha}}</td>
                    <td>
                        <div class="text-center">
                            <button class="btn btn-info btn-xs"
                                    ng-click="vm.actualizarnivel(iterador,$index)">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button class="btn btn-primary btn-xs"
                                    ng-click="vm.visualiazarObjeto(iterador)">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                            <button class="btn btn-danger btn-xs"
                                    ng-click="vm.borrarnivel($index)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form ng-if="vm.objNivel" id="formNivel" name="formNivel" class="form-validation">

        <tabset class="tab-container">
            <tab heading="DATOS DEL NUEVO NIVE">

                <div>
                    <div>
                        <div class="row">
                            <div class="col-sm-10">
                                <label class="l-h-0x">
                                    *Nivel#
                                </label>
                                <div>
                                    <input type="number" ng-model="vm.objNivel.idNivelEstructuraOrg" class="form-control"
                                           placeholder="Escriba el numero de nivel" required/>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="line-sm"></div>
                    <div >
                        <div class="row">
                            <div class="col-sm-10">
                                <label class="l-h-0x">
                                    *Descripcion
                                </label>
                                <div>
                                    <input type="number" ng-model="vm.objNivel.descripcion" class="form-control"
                                           placeholder="Escriba el numero de nivel" required/>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="line-sm"></div>
                    <div class="row">
                        <div class="col-sm-10">
                            <label class="l-h-0x">*Largo de c&oacute;digo</label>
                            <div>
                                <input type="number" ng-model="vm.objNivel.largoCodigo"
                                       class="form-control"
                                       placeholder="Ingrese la longitud" required/>
                            </div>
                        </div>
                    </div>
                    <div class="line-sm"></div>
                    <div class="row">
                        <div class="col-sm-10">
                        <label class="cl-h-0x">*Longitud de &iacute;cono </label>
                        <div>
                            <select class="form-control" required
                                    ng-options="icono.idIcono for icono in vm.lstIconos track by icono.idIcono"
                                    ng-model="vm.objNivel.icono"></select>
                        </div>
                        </div>
                    </div>

                    <div class="line-sm"></div>
                    <div class="col-sm-10 alert alert-info">
                        <strong>NOTA:</strong> Los campos se&ntilde;alados con (*) son obligatorios.
                    </div>
                    <div class="line-sm"></div>
                </div>

            </tab>
        </tabset>

    </form>
</div>