<div class="bg-white  b-b wrapper-sm">
    <h1 class="small">SUCURSALES</h1>
</div>

<div ng-controller="SucursalesIsspol as vm">

    <div class="bg-light lter b-b">
            <button ng-if="!vm.objSucursal && !vm.sucursalObj ? true:false"
                    class="pull-rigth btn m-b-xs btn-sm btn-dark btn-addon "
                    type="reset" ng-click="vm.nuevaSucursal()">
                <i class="fa fa-plus"></i>
                <span>Nuevo</span>
            </button>

            <button ng-if="vm.objSucursal" class="pull-rigth btn m-b-xs btn-sm btn-success btn-addon "
                    type="submit" ng-click="vm.guardar(vm.objSucursal)">
                <i class="fa fa-save block m-b-xs fa-2x "></i>
                <span>Guardar</span>
            </button>

            <button ng-if="vm.objSucursal || vm.sucursalObj ? true:false"
                    class="pull-rigth btn m-b-xs btn-sm btn-warning btn-addon"
                    type="submit" ng-click="vm.cancelar()">
                <i class="fa fa-ban block m-b-xs fa-2x "></i>
                <span>Cancelar</span>
            </button>



    </div>

    <div ng-if="!vm.objSucursal" class="panel panel-defaul panel-body">


        <div ng-if="vm.sucursalObj">
            <div class="panel-body">
                <div class="row row-fluid ">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Tipo:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.sucursalObj.idSucursal}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Nombre:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.sucursalObj.nombre}}</label>
                    </div>

                </div>
            </div>
        </div>


        <div ng-if="!vm.sucursalObj">

                <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">NOMBRE</th>
                        <th class="text-center">ACCI&Oacute;N</th>
                    </tr>
                    </thead>

                    <tr ng-repeat="sucursal in $data">

                        <td class="text-center" data-title="ID">{{sucursal.idSucursal}}</td>
                        <td class="text-center" data-title="NOMBRE">{{sucursal.nombre}}</td>
                        <td>


                            <div class="text-center">
                                <button class="btn btn-info btn-xs"
                                        ng-click="vm.editarSucursal(sucursal,false)">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button class="btn btn-primary btn-xs"
                                        ng-click="vm.visualiazaSucursales(sucursal,true)">
                                    <i class="fa fa-eye"></i>
                                </button>

                                <button class="btn btn-danger btn-xs"
                                        ng-click="vm.eliminarSucursal(sucursal,$index)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>

                            </div>
                        </td>



                    </tr>
                </table>


        </div>

    </div>


    <form ng-if="vm.objSucursal" name="formSucursal" class="form-validation">
        <tabset class="tab-container">
            <tab heading="DATOS DE SUCURSAL">
                <div>
                    <div ng-if="false" class="row">
                        <div class="col-sm-10">
                            <label class="l-h-0x">
                                *Id
                            </label>
                            <div>
                                <input n type="number" ng-model="vm.objSucursal.idSucursal" class="form-control"
                                       placeholder="ingrese el nombre de la sucursal" required>
                            </div>
                        </div>

                    </div>

                    <div class="line"></div>
                    <div class="row">
                        <div class="col-sm-10">
                            <label class="l-h-0x">
                                *Nombre
                            </label>
                            <div>
                                <input type="text" ng-model="vm.objSucursal.nombre"
                                       class="form-control"
                                       style="text-transform: uppercase"
                                       placeholder="ingrese el nombre de la sucursal" required>
                            </div>
                        </div>

                    </div>

                    <div class="line"></div>
                    <div class="alert alert-info">
                        <strong>NOTA:</strong> Los campos se&ntilde;alados con (*) son obligatorios.
                    </div>
                </div>

            </tab>
        </tabset>


        <div class="line line-dashed b-b line-lg pull-in"></div>


    </form>

</div>